// 全域設定
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: "Bruno Ace SC", cursive;
  color: #fff;
  line-height: 1.5;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: #fff;
}
.container {
  max-width: 1296px;
  margin: 0 auto;
}
.button {
  display: flex;
  padding: 12px 24px;
  align-items: center;
  gap: 4px;
  border-radius: 32px;
  // font-size: 16px;
  // line-height: 1.5;
  width: 185px;
}

// 字級
.h1 {
  font-size: 128px;
}
.h2 {
  font-size: 64px;
}
.fs-1 {
  font-size: 32px;
}
.fs-2 {
  font-size: 24px;
}
.fs-3 {
  font-size: 20px;
}

// 顏色
.white {
  color: #fff;
}
.bg-white {
  background: #fff;
}
.green {
  color: #00ffa3;
}
.bg-gradient {
  background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
}
.bg-black {
  background: #000;
}
.black {
  color: #000;
}

// 通用設定
.d-flex {
  display: flex;
}
.align-self-end {
  align-self: flex-end;
}
.ml-a {
  margin-left: auto;
}

// col排版
.col-2 {
  width: 196px;
}
.col-3 {
  width: 306px;
}
.col-4 {
  width: 416px;
}
.col-5 {
  width: 526px;
}
.col-6 {
  width: 636px;
}
.col-7 {
  width: 746px;
}
.col-8 {
  width: 857px;
}

// 間距
.mt-40 {
  margin-top: 40px;
}
.mr-24 {
  margin-right: 24px;
}
.mr-134 {
  margin-right: 134px;
}
.mb-36 {
  margin-bottom: 36px;
}
.mb-32 {
  margin-bottom: 32px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-28 {
  margin-bottom: 28px;
}
.mb-16 {
  margin-bottom: 16px;
}
.pt-40 {
  padding-top: 40px;
}
.pb-40 {
  padding-bottom: 40px;
}

//navbar
.menu {
  justify-content: space-between;
  gap: 61px;
  .menu-list {
    font-size: 16px;
    width: 306px;
  }
}
//header
.header {
  align-items: center;
  padding: 72px 0;
}
.name {
  display: block;
  text-align: right;
}

.header-btn {
  background: #fff;
  color: #000;
  margin-left: auto;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 0px 16px 3px rgba(224, 224, 224, 0.9),
      0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

//introduction
.bg-image {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true);
}
.introduction {
  padding: 160px 0;
}
.sparkle-sm {
  width: 128px;
}
.intro-pic {
  gap: 24px;
}

// aboutme
.aboutme {
  padding: 160px 0;
  color: #000;
  justify-content: space-between;
  align-items: center;
}
.aboutme-list {
  flex-wrap: wrap;
  gap: 24px;
}
.aboutme-card {
  width: 306px;
  display: flex;
  padding: 16px;
  flex-direction: column;
  gap: 4px;
  border: 1px solid #e3e3e3;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.08);
}
// contactme
.contact {
  padding: 96px 0;
  align-items: center;
  justify-content: space-between;
}
.contact-title {
  align-items: center;
  gap: 16px;
}
.contact-pic {
  gap: 20px;
  img {
    cursor: pointer;
    width: 162px;
    border-radius: 40px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.08);
    &:hover {
      box-shadow: 0px 0px 16px 3px rgba(144, 148, 255, 0.9),
        0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
  }
}
// project
.project {
  padding: 160px 0;
  gap: 24px;
}
.pj,
.pj-content-seemore,
.pj-content-2pic {
  gap: 24px;
}
.pj-content-txt {
  flex-direction: column;
  justify-content: space-between;
}
.pj-btn {
  background: #000;
  color: #fff;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 0px 16px 3px rgba(175, 175, 175, 0.9),
      0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

// footer
.footer {
  padding: 40px 0;
  p {
    text-align: center;
  }
}
